.portfolio li {
    background-color: #fafffc;
    display: inline-block;
    border: 0.5rem solid black;
    box-sizing: border-box;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
    padding: 0.75em;
    width: 45%;
}

.portfolio img {
    width: 100%;
    box-shadow: 0 0 .5em #000;
}